$fontTextos: 'Montserrat', sans-serif;
$fontTitulos: 'Playfair Display', serif;


$color-negro: #252525;
$color-grisoscuro: #4c4c4c;
$color-gris: #979f9f;
$color-rosaviejo: #c6aa9d;
$color-blanco: white;
$color-menu: #313131;



$tamano-h1: 4.2em;
$tamano-h2: 3em;
$tamano-h3: 1.5em;
$tamano-h4: 1.2em;
$tamano-h5: 4.5em;
$tamano-h6: 1em;
$tamano-texto: 0.9em;
$tamano-textochico: 0.8em;



