.carousel {
    margin-bottom: 4rem;
  
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 11rem;
    z-index: 10;

    h1{
        text-shadow: 0px 0px 30px #00000036;
    }

    #textoSlider{
        text-shadow: 0px 0px 30px #0000008c;
        font-weight: 400;
    }

    p{
        color: white;
        width: 60%;
        
    }

  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 40rem;
    
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: auto;
    
  }

  #capaNegra{
    background-color: rgba(0,0,0,0.8);
  }

  .btn-primary{
      background-color: $color-rosaviejo;
      border-color: $color-rosaviejo;
      transition: all 1s;
  }

  .btn-lg{
      padding: .5rem 3rem;
      font-size: 1.1rem;
  }

  .btn-primary:hover{
    background-color: $color-gris;
    border-color: $color-gris;
    transform: scale(1.1,1.1);
}
}

@media only screen and (max-width: 768px) {
  .carousel {
    .w-100{
        width: auto!important;     
    }

    .carousel-item {
        height: 40rem;
        
      }
      .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;
        
      }
      .carousel-caption {
        bottom: 0;
        top: 11rem;
        z-index: 10;

    h1{
        text-shadow: 0px 0px 30px #00000036;
        font-size: 3em;
    }

    #textoSlider{
        text-shadow: 0px 0px 30px #0000008c;
        font-weight: 400;
        width: 100%;
    }

    p{
        color: white;
        width: 60%;
        
    }

    
  
    .btn-lg{
        padding: .5rem 2rem;
        
    }
    }
 }
}

@media only screen and (min-width: 769px) and (max-width:1374px){
    .carousel{
        .carousel-item > img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            
          }

          .w-100{
            width: 0!important;     
        }
    } 
}


#serviciosHome {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 50px;

    #tituloMedioServicios{
        grid-column: 1/2;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 5%;   
    }
    
    
    .seccionServicios{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: center;
        padding: 0 5%;

        &__Img{
            width: 40%;
            height: 40%;
            transition: all 2s;
        }

        &__parrafo{
            font-size: $tamano-textochico;
            text-align: center;

        }

    }

    #seccionServicios1{
        grid-column: 1/2;
        grid-row: 2;
        
    }
    
    #seccionServicios2{
        grid-column: 1/2;
        grid-row: 3;
    }
    
    #seccionServicios3{
        grid-column: 1/2;
        grid-row: 4;
    }


    #botonServicios1{
        grid-column: 1/2;
        grid-row: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px 0;
    }
}
@media only screen and (min-width: 768px) {
#serviciosHome {
    display: grid;
    grid-template-columns: 1fr repeat(3, 25%) 1fr;
    margin-top: 0;
    

    #tituloMedioServicios{
        grid-column: 2/5;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 20%;

        
        
    }

    
    .seccionServicios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 5%;

        &__Img{
            width: 50%;
            height: 50%;
            transition: all 2s;
        }

        &__Img:hover{
            transform: scale(1.2,1.2)
            
        }
    }   
    
    #seccionServicios1{
        grid-column: 2/3;
        grid-row: 2;
        
    }
    
    #seccionServicios2{
        grid-column: 3/4;
        grid-row: 2;
        
    }
    
    #seccionServicios3{
        grid-column: 4/5;
        grid-row: 2;
        
    }



    #botonServicios1{
        grid-column: 2/5;
        grid-row: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
}}


#nosotrasHome{
    display: grid;
    grid-template-columns: 100%;
    margin-top: 50px;

    #nosotrasHomeImg{
        grid-column: 1/2;
        grid-row: 1;
        height: 300px ;
        background-color: transparent;
        background-image: url("../FOTOS/ambientacion7.jpg");
        background-position: center; 
        background-size: cover;
    }

    #nosotrasHomeTexto{
        grid-column: 1/2;
        grid-row: 2;
        background-color: #edebe9;
        padding: 7%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

                

                                  }





}
@media only screen and (min-width: 768px) {
    #nosotrasHome{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    margin-top: 50px;

    #nosotrasHomeImg{
        grid-column: 1/2;
        grid-row: 1;
        background-color: transparent;
        background-image: url("../FOTOS/ambientacion7.jpg");
        background-position: center; 
        background-size: cover;
        height: auto;
    }

    #nosotrasHomeTexto{
        grid-column: 2/3;
        grid-row: 1;
        background-color: #edebe9;
        padding: 7%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        text-align: left;

                                  }

    }
}