.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
  }
   
  .dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
   
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }



.nosotras{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #headernosotras{
        @extend .headers;
        background-image: linear-gradient(179deg, rgba(198,170,158,0.5) 0%, rgba(232,219,212,0.5) 100%), url("../FOTOS/header-nosotras.jpg");

    }

    .contenedorNosotras {
        height: 600px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;

        .imagenNosotras{ 
            flex-basis: 500px;
            overflow: hidden;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img{
                transition: all 5s;
            
            }

            img:hover{
                transform: scale(1.2,1.2);
            }
        }

        .textoDerecha{
            height: 400px;
            flex-basis: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center ;
            align-items: start;
            margin: 0 50px;
        
            h2{
                color: #979f9f ;
            }
        
            hr{
                width: 50px;
                border: 1px solid #c6aa9d;
                margin: 20px 0;
                opacity: 1;
            }

            
        
            
        }
    }
    
    
}

/* CAROUSEL LOGOS */



@media (min-width:761px) and (max-width:1024px){

    .nosotras{
        .contenedorNosotras{
            height: auto;
            padding: 50px 0;

            .imagenNosotras{
                flex-basis: 40%;
                height: auto;
                align-items: center;

                img{
                    width: 400px;
                    height: 400px;
                }
            }

            .textoDerecha{
                flex-basis: 45%;
                margin-right: 0;
            }
        }

        #contenedorTestimonios{
            #testimonio1{
                grid-column: 2/4;
                grid-row: 2;
                
            }
            
            #testimonio2{
                grid-column: 4/6 ;
                grid-row: 2 ;
                
            }
            
            #testimonio3{
                grid-column: 2/4 ;
                grid-row: 3 ;
                
            }
            
            #testimonio4{
                grid-column: 4/6;
                grid-row: 3;
                
            }
        }
        
    }
}

@media (max-width: 760px){

    .nosotras{
        .contenedorNosotras{
            flex-direction: column;
            height: auto;

            .imagenNosotras{
                overflow: visible;
                height: auto;
                justify-content: start;
                flex-basis: auto;

                img{
                    width: 90%;
                    margin: 0 auto;
                }
            }

            .textoDerecha{
                height: auto;
                padding: 50px 0;
                align-items: center;

                h2, p{
                    text-align: center;
                }
            }
        }



        #contenedorTestimonios{
            #testimonio1{
                grid-column: 2/6;
                grid-row: 2;
                
            }
            
            #testimonio2{
                grid-column: 2/6 ;
                grid-row: 3 ;
                
            }
            
            #testimonio3{
                grid-column: 2/6 ;
                grid-row: 4 ;
                
            }
            
            #testimonio4{
                grid-column: 2/6;
                grid-row: 5;
                
            }
        }
        
    }
}